.genealogy-tree {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .rd3t-tree-container {
    text {
      fill: #333;
    }

    .rd3t-node {
      circle {
        fill: #fff;
        stroke: #333;
        stroke-width: 2px;
        r: 12px;
      }
    }

    .rd3t-linkBase {
      fill: none;
      stroke: #333;
      stroke-width: 2px;
    }
  }
}
